body {
  max-width: 1200px;
  min-width: 768px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 2px 0px 20px 2px #dbdbdb;
          box-shadow: 2px 0px 20px 2px #dbdbdb;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  position: relative;
  width: 100%;
  background: #ffffff;
}

main {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  min-height: 56px;
}

.main-container {
  background-color: #ffffff;
}

.main-header-logo {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

.container .inner-page {
  background-color: #fefefe;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 88%;
  list-style: none;
  padding: 0;
}

.menu-item:nth-child(2) {
  margin-right: 245px;
}

.menu-item:nth-child(3) {
  margin-right: 19px;
}

.menu-list a {
  display: block;
  color: #000000;
}

.menu-list a:hover,
.menu-list a:focus {
  color: #81b3d2;
}

.menu-list a:order {
  color: #ffffff;
}

.menu-list-current a {
  color: #766357;
}

.background-image {
  background-image: url("../img/background/background-image.jpg");
  background-color: #7cafcd;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 510px;
  position: relative;
  background-position: 0 20%;
}

.background-welcome {
  background-image: url("../img/svg/intro-welcome.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 459px 353px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-image::after {
  content: ' ';
  background-image: url("../img/background/polygon.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 101% 61px;
  height: 59px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.reasons {
  padding-top: 45px;
  background: #ffffff;
}

.reasons-title {
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  width: 445px;
  margin-left: 377px;
}

.reasons-description {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  margin-bottom: 55px;
}

.feature-blue {
  background-color: #81b3d2;
  color: #ffffff;
  background-position: 0 0;
  min-height: 256px;
}

.feature-blue img {
  width: 100%;
}

.feature-item-description {
  margin: 0 auto;
  text-align: center;
}

.feature-blue .feature-item-description {
  width: 300px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-blue .feature-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}


.feature-title {
  margin: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  }


.feature-blue-1 .feature-title {
  width: 130px;
  min-height: 50px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.feature-blue-3 .feature-title {
  width: 160px;
  min-height: 50px;
  margin: 0 auto;
  padding-bottom: 12px;
}


.feature-blue-1 .feature-description {
  width: 300px;
  min-height: 45px;
}

.feature-blue-3 .feature-description {
  width: 310px;
  min-height: 45px;
  padding-right: 35px;
  padding-left: 40px;
}

.feature-blue-1 > .feature-item-description {
  width: 33%;
  min-height: 256px;
  margin: 0 auto;
  line-height: normal;
}


.feature-blue-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.feature-blue .feature-number {
  padding-bottom: 10px;
}

.feature-image {
  overflow: hidden;
}

.feature-image-1 {
  background-color: #a0a0b0;
  background-repeat: no-repeat;
  width: 67%;
  height: 256px;
  margin: auto 0;
}

.feature-image-3 {
  background-color: #e2ac95;
  background-repeat: no-repeat;
  width: 67%;
  height: 256px;
  margin: auto 0;
}


.feature-blue-3 > .feature-item-description {
  margin: 0 auto;
  line-height: normal;
  min-height: 256px;
  width: 33%;
}

.feature-blue-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

.feature-white {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.feature-icon {
  padding-left: 45px;
  padding-right: 45px;
  width: 33%;
  min-height: 330px;
}

.feature-icon-home {
  margin-top: 58px;
  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 70px;
}

.feature-icon-food {
  margin-top: 58px;
  background-position: center;
  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 70px;
}

.feature-icon-gift {
  margin-top: 55px;
  background-position: center;
  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 74px;
}

.feature-white .feature-title {
  padding-top: 30px;
  padding-bottom: 5px;
}

.feature-block {
  margin: 0;
  margin-top: 0;
  text-align: center;
  min-height: 80px;
}

.feature-white .feature-description {
  width: 300px;
  min-height: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: inherit;
}


.feature-grey {
  width: 100%;
  min-height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eeeeee;
}

.feature-grey-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
  min-height: 256px;
  padding-right: 60px;
  padding-left: 60px;
}

.feature-grey .feature-title {
  width: 130px;
  min-height: 50px;
  margin: 0 auto;
  padding-bottom: 12px;
  padding-top: 45px;
}

.feature-grey .feature-number {
  padding-bottom: 20px;
}

.feature-grey .feature-description {
  width: 255px;
  min-height: 35px;
  margin: 0 auto;
  line-height: normal;
}

.feature-description.road {
  width: 275px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 285px;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.search > p {
  margin-bottom: 45px;
}

.search-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  margin-bottom: 0;
}

.button {
  font: inherit;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/map.jpg");
  background-color: #cbdda9;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  margin-bottom: -120px;
  padding: 0;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
  text-align: center;
  width: 568px;
  height: 395px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-search {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.apointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.date-field {
  position: relative;
}

.search-form-check-in {
  margin-right: 24px;
  padding-top: 8px;
}

.search-form-check-out {
  margin-right: 21px;
  padding-top: 8px;
}

.date-field input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  background: #f2f2f2;
  width: 345px;
  height: 38px;
  border: none;
  padding-right: 38px;
  padding-left: 12px;
  outline: none;
}

.date-field input:hover {
  background: #ebebeb;
}

.date-field input:focus {
  background: transparent;
  border: 2px solid #e5e5e5;
}

.search-form-age-adults {
  margin-right: 40px;
  padding-top: 7px;
}

.search-form-age-children {
  margin-right: 25px;
  padding-top: 7px;
}

.search-item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.search-item-number-adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-item-number-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  height: 38px;
}

.number-input {
  height: 38px;
  width: 38px;
  background: transparent;
  border: none;
}

.number-button {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: transparent;
  border: 0;
  width: 38px;
  height: 38px;
  outline: none;
}

.number-button:hover {
  color: #000000;
}

.number-button:active {
  color: #81b3d2;
}

.number-field input {
  height: 38px;
  background-color: transparent;
}

.search-form-calendar {
  position: absolute;
  right: 0;
  top: 8px;
  background-color: transparent;
  border: none;
  padding-right: 12px;
  fill: #a9a9a9;
  outline: none;
}

.search-form-calendar:hover {
  fill: #000000;
}

.search-form-calendar:active {
  fill: #81b3d2;
}

.apointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-search {
  margin-bottom: 0;
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
  width: 568px;
  height: 86px;
}

.button-search:hover {
  background-color: #604e43;
}

.button-search:focus,
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-find {
  margin-bottom: 0;
  padding: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  width: 458px;
  height: 58px;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filters {
  background-image: url("../img/background/filter-background.png");
  background-color: #7798b7;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 220px;
  color: hsl(0, 0%, 100%);
}

.filters-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 25px;
  padding-right: 60px;
  padding-left: 70px;
}

.filter-checkbox-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: auto;
  width: 390px;
  min-height: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}



.filter-range {
  width: 314px;
  padding-right: 15px;
}

.filter-range-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.min-price label {
  display: flex;
}

.max-price label {
  display: flex;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 60px;
}

.price-controls input {
  width: 40px;
  height: 32px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  transform: translateX(-5px);
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter-choice-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;

}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 0;
}

.filter-option:first-child {
  margin-top: 25px;
}

.filter-option label {
  position: relative;
  padding-left: 40px;
  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.filter-input-checkbox + label::before {
  border: transparent;
  content: "";

  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:focus + label {
  outline: 2px dotted #ffffff;
}

.filter-input-checkbox:disabled + label::before {
  border: transparent;
  content: "";

  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  border: transparent;
  content: "";

  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::after {
  border: transparent;
  content: "";

  position: absolute;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/svg/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #000000;
  width: 346px;
  height: 38px;
  border: none;
}

.search-item-number input {
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  color: #000000;
  width: 38px;
  height: 36px;
  border: none;
}

.hotel-sorting {
  background: #fefefe;
  margin: 0;
  padding: 0;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-left: 73px;
  list-style: none;
  height: 30px;
  width: 1056px;
}

.breadcrumbs a {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #cacaca;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #81b3d2;
}

.breadcrumbs a:active {
  text-decoration: none;
  color: #000000;
}

.hotel-sort-item .hotel-sort-link-current {
  display: block;
  color: #81b3d2;
  margin: auto 0;
  height: 14px;
}

.hotel-sort-name {
  font-size: 21px;
  line-height: 26px;
}

.hotel-sort-item {
  display: flex;
  padding-right: 34px;
}

.hotel-sort-link {
  display: block;
  padding-bottom: 1px;
  border-bottom: 1px dotted #81b3d2;
  margin: auto 0;
  height: 14px;
}

.hotel-sort-item-name {
  padding-right: 40px;
  font-size: 12px;
  line-height:18px;
  padding-top: 5px;
}

.hotel-sort-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  padding-right: 10px;
}

.up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px;
  height: 15px;
  margin-right: 75px;
}

.up-down a {
  display: block;
  font-size: 0;
}

.up {
  background-image: url("../img/svg/icon-up-dir.svg");
  background-repeat: no-repeat;
  height: 11px;
  width: 12px;
}

.up:hover {
  background-image: url("../img/svg/up-hover.svg");
  background-repeat: no-repeat;
  height: 11px;
  width: 12px;
}

.up:active {
  background-image: url("../img/svg/up-active.svg");
  background-repeat: no-repeat;
  height: 11px;
  width: 12px;
}

.down {
  background-image: url("../img/svg/icon-down-dir.svg");
  background-repeat: no-repeat;
  height: 11px;
  width: 12px;
}

.down:hover {
  background-image: url("../img/svg/down-hover.svg");
  background-repeat: no-repeat;
  height: 11px;
  width: 12px;
}

.down:active,
.down-current {
  background-image: url("../img/svg/down-active.svg");
  background-repeat: no-repeat;
  height: 11px;
  width: 12px;
}

.catalog {
  padding: 0;
  margin: 0;
  width: 100%;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  margin-bottom: 2px;
  padding-left: 73px;
  padding-right: 73px;
  background: #fefefe;
}

.hotel-item:first-child {
  margin-top: 2px;
}

.hotel-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  min-height: 90px;
  width: 265px;
  margin-bottom: 10px;
  margin-top: 0;
}

.hotel-name {
  margin: 0;
  padding-top: 0;
}

.hotel-type-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  min-height: 30px;
  padding-bottom: 5px;
}

.hotel-rate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
  margin-left: auto;
}

.hotel-item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stars span {
  display: inline-block;
  vertical-align: top;
  height: 41px;
  margin-bottom: 10px;
}

.button-more {
  padding-top: 3px;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  width: 90px;
  height: 24px;
  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  width: 122px;
  height: 24px;
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rate-discription {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  width: 110px;
  min-height: 27px;
  background-color: #f2f2f2;

}

.hotel-item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hotel-item-title:active {
  color: #cacaca;
}

.hotel-item-title:hover {
  color: #81b3d2;
}

.hotels-list {
  list-style: none;
}

.hotel-item-discription,
.hotel-item-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin: 0;
  padding: 0;
}

.main-footer {
  padding: 32px 63px;
  color: #000000;
  background-color: #fefefe;
  opacity: 0.9;
  background-repeat: repeat;

}

.main-footer-container {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  padding-bottom: 0;
  padding-top: 0;
}

.main-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.main-footer li {
  padding-right: 5px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  width: 241px;
  height: 50px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: normal;
}

.footer-copyright .button {
  display: inline-block;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-right: 30px;
  width: 115px;
  height: 41px;
  background-color: transparent;
  color: #000000;
}

.footer-copyright:hover path {
  fill: #88b6d1;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}

.social-button {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.hash {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  width: 240px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
